.modal-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modal-text {
  text-align: center;
  padding: 4px 0;
}